<h2>Learning Directives</h2>

<hr />
<!-- Using <ng-container> you can save the extra DOM nodes only to provide structure -->
<ng-container [ngSwitch]="country">
  <ng-container *ngSwitchCase="'IN'">
    <div class="alert alert-primary" role="alert">
      India
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'FR'">
    <div class="alert alert-warning" role="alert">
      France
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="alert alert-secondary" role="alert">
      Default
    </div>
  </ng-container>
</ng-container>
